:root {
	--text_color: #c0c0c0;
	--highlight_color: #9B7BD2;
	--highlight_color_dark: #715C99;
}

body {
	background-image: url("/res/img/fornax_cluster.jpg");
	background-position: center;
	background-repeat: none;
	background-size: cover;
}

.body{
	background-color: #242424e4;
}